/*SITE COLOR PALLETE

	light grey - #dadcdb;
	dark purple - #403e4e;
	light blue/green - #93a6b1;
	light purple - #9a9fb6;

*/

/*BEGIN GENERAL STYLING*/

*,html,body {
	padding: 0;
	margin: 0;
	font-size: 10px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	/*background-color: #403e4e;*/
}

.container {
	width: 80%;
	margin: 0 auto;
}

/*END GENERAL STYLING*/

/* BEGIN CUSTOM SCROLLBAR STYLING*/

/* width */
body::-webkit-scrollbar {
    width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
    background: #9a9fb6; 
    border-radius: 55px;
    
}

body::-webkit-scrollbar-button {
	display: none;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: #403e4e; 
    border-radius: 55px;
    
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #403e4e; 
    border-radius: 55px;
}

body::-webkit-scrollbar-corner {
    background: #403e4e; 
    border-radius: 55px;
}

/* END CUSTOM SCROLLBAR STYLING*/


/*BEGIN NAV STYLING*/

nav {
	height: 5rem;
	width: 100%;
	background-color: rgba(154,159,182,.7);
	box-shadow: 0px 2px 2px rgba(0,0,0,.4);
	position: fixed;
	z-index: 99;
}

nav img {
	padding: .5rem;
	margin-right: 4rem;
	float: left;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	float: left;
	margin-right: 4rem;
	margin-top: 1.5rem;
}

nav ul li a {
	font-size: 1.75rem;
	text-decoration: none;
	color: #dadcdb;
	transition: .4s ease-in-out;
}

nav ul li a:hover {
	color: #403e4e;
}

.dropdown {
	display: none;
}

.dropdown:hover {
	display: block;
	height: auto;
	width: 3rem;
}

.booknow {
	float: right;
	margin-top: .75rem;
	font-size: 1.75rem;
	text-decoration: none;
	border: 1px solid white;
	padding: .5rem 2rem;
	border-radius: 2rem;

}

/*END NAV STYLING*/

/*--------BEGIN LANDING PAGE STYLING--------*/

/*BEGIN HERO STYLING*/

.hero {
	height: 100vh;
	width: 100%;
	background-color: #403e4e;
	background-image: url(../assets/road1.jpg);
	background-repeat: no-repeat;
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;

}

.hero h1 {
	font-size: 8rem;
	font-weight: 400;
	text-shadow: 0px 4px 1px rgba(0,0,0,.3);
	color: #dadcdb;
	text-align: center;
	padding-top: 30rem;
	padding-bottom: 3rem;
}

.options {
	width: 65%;
	margin: 0 auto;
	text-align: center;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr 1fr;
	    grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10rem;
}

.options a {
	height: auto;
	font-size: 3rem;
	background-color: #93a6b1;
	color: #dadcdb;
	padding: .5rem 0;
	border-radius: 1rem 0 1rem 0;
	text-decoration: none;
	transition: .5s ease-in-out;
	box-shadow: 0px 3px 1px rgba(0,0,0,.3);
}

.options a:hover {
	height: auto;
	font-size: 3rem;
	color: #dadcdb;
	padding: .5rem 0;
	border-radius: 5rem;
	text-decoration: none;
}

/*END HERO STYLING*/

/*BEGIN INTRO SECTION STYLING*/

.skewintro {
	width: 100%;
	height: 80rem;
	content: '';
	-webkit-transform-origin: top left;
	        transform-origin: top left;
	-webkit-transform: skewY(-3deg);
	        transform: skewY(-3deg);
}

.intro {
	background-color: #dadcdb;
	background-image: url(../assets/range1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: soft-light;
	background-position: bottom bottom;
	height: 100rem;
	padding: 7rem 0 15rem 0;
	position: relative;
	
}

.intro h3 {
	font-size: 5.5rem;
	font-weight: 400;
	color: #403e4e;
	text-align: center;
	padding-bottom: 5rem;
	position: relative;
	z-index: 4;
	-webkit-transform-origin: top left;
	        transform-origin: top left;
	-webkit-transform: skewY(3deg);
	        transform: skewY(3deg);
}

.content {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 4rem;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	-webkit-transform-origin: top left;
	        transform-origin: top left;
	-webkit-transform: skewY(3deg);
	        transform: skewY(3deg);
}

.content h4 {
	font-size: 2.5rem;
	font-weight: 400;
	color: #403e4e;
	text-align: center;
	padding-bottom: 5rem;
	text-decoration: underline;
	padding: 1rem 0;
}

.content p {
	font-size: 1.7rem;
	color: #93a6b1;
	width: 90%;
	margin: 0 auto;
	line-height: 2.5rem;
}

/*END INTRO SECTION STYLING*/

/*BEGIN MAIN SECTION STYLING*/

p.available {
	font-size: 1.5rem;
	color: #9a9fb6;
	line-height: 2rem;
	padding-top: 10rem;
	padding-bottom: 2rem;
}

/*END MAIN SECTION STYLING*/

/*BEGIN THE CABIN SECTION STYLING*/

.skewcabin {
	width: 100%;
	height: 100rem;
	content: '';
	-webkit-transform-origin: bottom right;
	        transform-origin: bottom right;
	-webkit-transform: skewY(3deg);
	        transform: skewY(3deg);
}

.cabinmain {
	background-color: #93a6b1;
	background-image: url(../assets/cabin1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: soft-light;
	background-position: bottom bottom;
	background-attachment: fixed;
	padding: 5rem 0;
	height: 120rem;
}

.cabin::before {
	content: '';
	width: 100%;
	height: 15rem;
	background-color: #dadcdb;
	position: absolute;
	top: -5rem;
	left: 0;
	-webkit-transform-origin: bottom left ;
	        transform-origin: bottom left ;
	-webkit-transform: skewY(-6deg);
	        transform: skewY(-6deg);
	        border-radius: 3rem 0 0 0;
}

.cabin {
	margin-top: -3rem;
	width: 40%;
	background-color: #dadcdb;
	padding: 9rem 3rem 12rem 6rem;
	padding-left: 6rem;
	position: relative;
	-webkit-transform-origin: bottom right;
	        transform-origin: bottom right;
	-webkit-transform: skewY(-3deg);
	        transform: skewY(-3deg);
}

.cabin::after {
	content: '';
	width: 100%;
	height: 15rem;
	background-color: #dadcdb;
	position: absolute;
	bottom: -5rem;
	left: 0;
	-webkit-transform-origin: top left ;
	        transform-origin: top left ;
	-webkit-transform: skewY(6deg);
	        transform: skewY(6deg);
	border-radius: 0 0 0 3rem;
	box-shadow: 0px 5px 3px 0px rgba(0,0,0,.2); 
}

.cabin h3 {
	font-size: 5.5rem;
	color: #93a6b1;
	font-weight: 400;
	padding-bottom: 0;
	z-index: 999;
}

.cabin h4 {
	font-size: 2rem;
	font-weight: 400;
	color: #9a9fb6;
	border-top: 2px solid #9a9fb6;
	margin-left: 3rem;
	margin-right: 15rem;
	margin-top: .2rem;
	padding-bottom: 3rem;
}

.cabin p {
	width: 95%;
	font-size: 2rem;
	color: #93a6b1;
	line-height: 5rem;
}

.cabin p.available {
	font-size: 1.5rem;
	color: #9a9fb6;
	line-height: 2rem;
	padding-top: 10rem;
	padding-bottom: 2rem;
}

.cabin a {
	color: #93a6b1;
	border: 2px solid #93a6b1;
	border-radius: 1rem;
	text-decoration: none;
	font-size: 2rem;
	padding: .5rem 4rem;
	transition: .5s ease-in-out;
}

.cabin a:hover {
	border-radius: 3rem;
	background-color: #93a6b1;
	color: #dadcdb;
}

/*END THE CABIN SECTION STYLING*/

/*BEGIN THE SLOPES SECTION STYLING*/

.skewslopes {
	width: 100%;
	height: 110rem;
	content: '';
	-webkit-transform-origin: bottom right;
	        transform-origin: bottom right;
	-webkit-transform: skewY(-3deg);
	        transform: skewY(-3deg);
}

.slopesmain {
	background-color: #403e4e;
	background-image: url(../assets/slopes1.png);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-blend-mode: soft-light;
	background-position: bottom;
	height: 120rem;
	padding: 5rem 0;

}

.slopes::before {
	content: '';
	width: 100%;
	height: 15rem;
	background-color: #dadcdb;
	position: absolute;
	top: -5rem;
	left: 0;
	-webkit-transform-origin: bottom right;
	        transform-origin: bottom right;
	-webkit-transform: skewY(6deg);
	        transform: skewY(6deg);
	        border-radius: 0 3rem 0 0;
}

.slopes {
	width: 33%;
	background-color: #dadcdb;
	padding: 9rem 3rem 12rem 6rem;
	padding-left: 6rem;
	position: absolute;
	right: 10%;
	-webkit-transform-origin: bottom right;
	        transform-origin: bottom right;
	-webkit-transform: skewY(3deg);
	        transform: skewY(3deg);
}

.slopes::after {
	content: '';
	width: 100%;
	height: 15rem;
	background-color: #dadcdb;
	position: absolute;
	bottom: -5rem;
	left: 0;
	-webkit-transform-origin: right top ;
	        transform-origin: right top ;
	-webkit-transform: skewY(-6deg);
	        transform: skewY(-6deg);
	border-radius: 0 0 3rem 0;
	box-shadow: 0px 5px 3px 0px rgba(0,0,0,.2); 
}

.slopes h3 {
	font-size: 5.5rem;
	color: #93a6b1;
	font-weight: 400;
	padding-bottom: 0;
	z-index: 999;
}

.slopes h4 {
	font-size: 2rem;
	font-weight: 400;
	color: #9a9fb6;
	border-top: 2px solid #9a9fb6;
	margin-left: 3rem;
	margin-right: 15rem;
	margin-top: .2rem;
	padding-bottom: 3rem;
}

.slopes p {
	width: 95%;
	font-size: 2rem;
	color: #93a6b1;
	line-height: 5rem;
}

.slopes p.available {
	font-size: 1.5rem;
	color: #9a9fb6;
	line-height: 2rem;
	padding-top: 10rem;
	padding-bottom: 2rem;
}

.slopes a {
	color: #93a6b1;
	border: 2px solid #93a6b1;
	border-radius: 1rem;
	text-decoration: none;
	font-size: 2rem;
	padding: .5rem 4rem;
	transition: .5s ease-in-out;
}

.slopes a:hover {
	border-radius: 3rem;
	background-color: #93a6b1;
	color: #dadcdb;
}

/*END THE SLOPES SECTION STYLING*/


/*BEGIN THE TOWN SECTION STYLING*/

.skewtown {
	width: 100%;
	height: 100rem;
	content: '';
	-webkit-transform-origin: bottom right;
	        transform-origin: bottom right;
	-webkit-transform: skewY(3deg);
	        transform: skewY(3deg);
}

.townmain {
	background-color: #93a6b1;
	background-image: url(../assets/city1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: soft-light;
	background-position: bottom bottom;
	background-attachment: fixed;
	padding: 5rem 0;
	height: 120rem;
	
}

.town::before {
	content: '';
	width: 100%;
	height: 15rem;
	background-color: #dadcdb;
	position: absolute;
	top: -5rem;
	left: 0;
	-webkit-transform-origin: bottom left ;
	        transform-origin: bottom left ;
	-webkit-transform: skewY(-6deg);
	        transform: skewY(-6deg);
	        border-radius: 3rem 0 0 0;
	/*box-shadow: 0px 3px 2px 0px rgba(0,0,0,.4); */
}

.town {
	width: 40%;
	background-color: #dadcdb;
	padding: 9rem 3rem 12rem 6rem;
	padding-left: 6rem;
	position: relative;
	-webkit-transform-origin: bottom left;
	        transform-origin: bottom left;
	-webkit-transform: skewY(-3deg);
	        transform: skewY(-3deg);
}

.town::after {
	content: '';
	width: 100%;
	height: 15rem;
	background-color: #dadcdb;
	position: absolute;
	bottom: -5rem;
	left: 0;
	-webkit-transform-origin: top left ;
	        transform-origin: top left ;
	-webkit-transform: skewY(6deg);
	        transform: skewY(6deg);
	border-radius: 0 0 0 3rem;
	box-shadow: 0px 5px 3px 0px rgba(0,0,0,.2); 
}

.town h3 {
	font-size: 5.5rem;
	color: #93a6b1;
	font-weight: 400;
	padding-bottom: 0;
	z-index: 999;
}

.town h4 {
	font-size: 2rem;
	font-weight: 400;
	color: #9a9fb6;
	border-top: 2px solid #9a9fb6;
	margin-left: 3rem;
	margin-right: 15rem;
	margin-top: .2rem;
	padding-bottom: 3rem;
}

.town p {
	width: 95%;
	font-size: 2rem;
	color: #93a6b1;
	line-height: 5rem;
}

.town p.available {
	font-size: 1.5rem;
	color: #9a9fb6;
	line-height: 2rem;
	padding-top: 10rem;
	padding-bottom: 2rem;
}

.town a {
	color: #93a6b1;
	border: 2px solid #93a6b1;
	border-radius: 1rem;
	text-decoration: none;
	font-size: 2rem;
	padding: .5rem 4rem;
	transition: .5s ease-in-out;
}

.town a:hover {
	border-radius: 3rem;
	background-color: #93a6b1;
	color: #dadcdb;
}

/*END THE TOWN SECTION STYLING*/

/*BEGIN THE GIFT SECTION STYLING*/

.skewgift {
	width: 100%;
	height: 70rem;
	content: '';
	-webkit-transform-origin: bottom right;
	        transform-origin: bottom right;
	-webkit-transform: skewY(-3deg);
	        transform: skewY(-3deg);
	margin-bottom: 10rem;
}

.giftmain {
	background-color: #403e4e;
	background-image: url(../assets/gift1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-blend-mode: soft-light;
	background-position: left center;
	height: 85rem;
	padding: 5rem 0;

}

.gift::before {
	content: '';
	width: 100%;
	height: 15rem;
	background-color: #dadcdb;
	position: absolute;
	top: -5rem;
	left: 0;
	-webkit-transform-origin: bottom right;
	        transform-origin: bottom right;
	-webkit-transform: skewY(6deg);
	        transform: skewY(6deg);
	        border-radius: 0 3rem 0 0;
}

.gift {
	width: 33%;
	height: 50rem;
	background-color: #dadcdb;
	padding: 9rem 3rem 12rem 6rem;
	padding-left: 6rem;
	position: absolute;
	right: 10%;
	-webkit-transform-origin: bottom right;
	        transform-origin: bottom right;
	-webkit-transform: skewY(3deg);
	        transform: skewY(3deg);
}

.gift::after {
	content: '';
	width: 100%;
	height: 17rem;
	background-color: #dadcdb;
	position: absolute;
	bottom: -10rem;
	left: 0;
	-webkit-transform-origin: right top ;
	        transform-origin: right top ;
	-webkit-transform: skewY(-6deg);
	        transform: skewY(-6deg);
	border-radius: 0 0 3rem 0;
	box-shadow: 0px 5px 3px 0px rgba(0,0,0,.2); 
}

.gift h3 {
	font-size: 5.5rem;
	color: #93a6b1;
	font-weight: 400;
	padding-bottom: 0;
	z-index: 999;
}

.gift h4 {
	font-size: 2rem;
	font-weight: 400;
	color: #9a9fb6;
	border-top: 2px solid #9a9fb6;
	margin-left: 3rem;
	margin-right: 15rem;
	margin-top: .2rem;
	padding-bottom: 3rem;
}

.gift p {
	width: 95%;
	font-size: 2rem;
	color: #93a6b1;
	line-height: 5rem;
	margin-bottom: 6rem;
}


.gift a {
	color: #93a6b1;
	border: 2px solid #93a6b1;
	border-radius: 1rem;
	text-decoration: none;
	font-size: 2rem;
	padding: .5rem 4rem;
	transition: .5s ease-in-out;
}

.gift a:hover {
	border-radius: 3rem;
	background-color: #93a6b1;
	color: #dadcdb;
}

/*END THE GIFT SECTION STYLING*/

/*BEGIN FOOTER SECTION STYLING*/

footer {
	background-color: #dadcdb;
	height: 24rem;
	padding-top: 15rem;
	text-align: center;
}

footer h4 {
	font-size: 2rem;
	font-weight: 400;
	color: #9a9fb6;
}

footer ul {
	list-style-type: none;
	/*display: inline-block;*/
}

footer ul li {
	display: inline-block;
	padding-right: 2rem;
	padding-bottom: 1rem;
}

footer ul li:last-child {
	padding-right: 0;
}

footer ul li a {
	text-decoration: none;
	font-size: 2rem;
	
	margin: 0 auto;
}

/*END FOOTER SECTION STYLING*/

/*--------END LANDING PAGE STYLING--------*/

/*--------BEGIN EXPERIENCES PAGE STYLING--------*/

.expintro {
	height: 65rem;
	background: #ccc;
}

.expintro:nth-child(even) {
	height: 65rem;
	background: #fff;
}

.slides img {
	height: 100%;
	width: 50%;
	float: left;
}

.slides:nth-child(even) img {
	width: 50%;
	float: right;
}

.cabinright {
	width: 50%;
}

/*--------END EXPERIENCES PAGE STYLING--------*/

/*--------BEGIN CONTACT US PAGE STYLING--------*/

.contacthero {
	height: 80rem;
	background: #403e4e;
	background-image: url(../assets/road2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-blend-mode: soft-light;
	background-position: center;
}


.agentsintro {
	height: auto;
	padding: 6rem 0 8rem 0;
	background-color: #dadcdb;
}

.agentscontent h3 {
	font-size: 5.5rem;
	font-weight: 400;
	color: #403e4e;
	text-align: center;
}

.agentscontent h5 {
	margin: 0 auto;
	width: 60%;
	font-size: 2rem;
	font-weight: 400;
	color: #9a9fb6;
	text-align: center;
	padding: 2rem 0 6rem 0;
}

.agents {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 4rem;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.agent {
	background: #eee;
	padding: 2rem;
	border-radius: 2rem;
	margin-top: 2rem;
	box-shadow: 0px 3px 2px 0px rgba(0,0,0,.1); 
}

.agent img {
	border-radius: 50%;
	border: 3px solid #93a6b1;
	margin-top: -5rem;
}

.agent h4 {
	font-size: 3rem;
	font-weight: 400;
	margin: 1rem 0 0 0 ;
	color: #93a6b1;
}

.agent p {
	font-size: 1.5rem;
	line-height: 2.5rem;
	color: #9a9fb6;
}

.faqs {
	height: auto;
	padding: 6rem 0 6rem 0;
	background-color: #93a6b1;
}

.faqs h3 {
	font-size: 5.5rem;
	font-weight: 400;
	color: #dadcdb;
	text-align: center;
}

.faqs h5 {
	margin: 0 auto;
	width: 60%;
	font-size: 2rem;
	font-weight: 400;
	color: #403e4e;
	text-align: center;
	padding: 2rem 0 6rem 0;
}

.faqscontent {
	width: 100%;
	text-align: center;
}

.questions {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr 1fr 1fr;
	    grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 3rem;
	width: 90%;
	text-align: center;
	margin: 0 auto;
}

.questioncontent {
	border: 2px solid #6f838e;
	background-color: rgba(192,215,226,.3);
	border-radius: 1rem;
	padding: .5rem;
	margin-bottom: 3rem;
	box-shadow: 0 2px 3px 1px rgba(0,0,0,.2);  
}

.questioncontent h4 {
	font-size: 2rem;
	font-weight: 400;
	margin: 1rem 0 ;
	color: #dadcdb;
}

.questioncontent p {
	font-size: 1.5rem;
	line-height: 2.5rem;
	color: #403e4e;
	width: 90%;
	margin: 0 auto 1rem auto;
}

.contact {
	display: block;
	margin: .25rem 0 1.25rem 0;
}

.contact a  {
	display: block;
	margin: .2rem auto;
	font-size: 1.7rem;
	text-decoration: none;
	color: #93a6b1;
}

.contactfooter {
	padding: 2rem;
	height: auto;
	background: #dadcdb;
}

.contactfooter h4 {
	color: #93a6b1;
}

/*--------END CONTACT US PAGE STYLING--------*/
