/*SITE COLOR PALLETE

	light grey - #dadcdb;
	bright purple - #a354a1;
	dark mute purple - #575a78;
	bright pink underline - #f78deb;
	light blue grey - #9a9fb6;
	light blue green - #6f838e;
	bright teal blue - #4b8d9a;
	dark blue (footer) - #29293c;
*/

/*GENERAL STYLING*/

*,html,body {
	padding: 0;
	margin: 0;
	font-size: 10px;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	/*background-color: #403e4e;*/
	overflow-x: hidden;
}

html {
	height: auto;
	background: #6c6d8b;
    background: linear-gradient(#6c6d8b 17%, #c885d0 35%, #35365f 99%);
}

.container {
	width: 80%;
	margin: 0 auto;
}

/*GENERAL ELEMENT STYLES*/

h2 {
	font-family: 'Oswald', sans-serif; 
	font-size: 7rem;
	color: #dadcdb;
	text-align: center;
	text-shadow: 0 2px 2px rgba(0,0,0,.4);
	letter-spacing: .15rem;
	padding-top: 1rem;
}

.subtext {
	margin: 0 auto;
	width: 65%;
	font-size: 2rem;
	font-weight: 400;
	color: #dadcdb;
	text-align: center;
	padding: 2rem 0 6rem 0;
	line-height: 3rem;
}

hr {
	width: 7%;
	margin: 0 auto;
	color: #f78deb;
	border: 2px solid #f78deb;
	border-radius: 1rem;
}

.btnmed {
	background-color: #4b8d9a;
	width: auto;
	padding: 1rem 4rem;
	-webkit-appearance: none;
	border: none;
	border-radius: 2rem;
	box-shadow: 0 2px 2px rgba(0,0,0,.4);
	cursor: pointer;
	transition: .3s ease-in-out;
}

.btnmed:hover {
	-webkit-transform: translateY(.2rem);
	        transform: translateY(.2rem);
}

.btnmed a {
	font-size: 2rem;
	font-weight: 800;
	text-decoration: none;
	text-transform: uppercase;
	color: #dadcdb;
	text-shadow: 0 2px 1px rgba(0,0,0,.3);
}

/*CUSTOM SCROLLBAR STYLING*/

/* width */
body::-webkit-scrollbar {
    width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
    background: #9a9fb6; 
    border-radius: 55px;
    
}

body::-webkit-scrollbar-button {
	display: none;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: #403e4e; 
    border-radius: 55px;
    
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #403e4e; 
    border-radius: 55px;
}

body::-webkit-scrollbar-corner {
    background: #403e4e; 
    border-radius: 55px;
}

/*NAV STYLING*/

nav {
	position: fixed;
	height: auto;
}

nav img {
	float: left;
	padding: 1.5rem;
}

nav ul {
	float: right;
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	padding: 2.5rem 5rem 0 0;
}

nav ul li:nth-child(3) {
	padding-right: 0;
}

nav ul li a {
	color: #dadcdb;
	font-size: 1.55rem;
	text-decoration: none;
}

.active {
	font-weight: 600;
	font-style: italic;
}

/*FOOTER STYLING*/

footer {
	height: 10rem;
	background-color: #29293c;
	text-align: center;
}

footer h4 {
	font-size: 2rem;
	font-weight: 400;
	color: #9a9fb6;
}

footer ul {
	padding-top: 2rem;
	list-style-type: none;

}

footer ul li {
	display: inline-block;
	padding-right: 2rem;
	padding-bottom: .2rem;
}

footer ul li:last-child {
	padding-right: 0;
}

footer ul li a {
	text-decoration: none;
	font-size: 2rem;
	color: #4b8d9a;
	margin: 0 auto;
}

/*-------BEGIN ABOUT PAGE-------*/

/*HERO SECTION*/

.abouthero {
	height: 75rem;
	background-image: url(../assets/abouthero.png);
	background-position: top;
	background-blend-mode: multiply;
	margin: 0 auto;
}

.abouthero h1 {
	font-family: 'Oswald', sans-serif; 
	font-size: 9rem;
	letter-spacing: .5rem;
	color: #dadcdb;
	text-align: center;
	text-shadow: 0 2px 2px rgba(0,0,0,.4);
	padding-top: 22rem;
	padding-bottom: 3rem;
}

/*ABOUT SECTION*/

.about {
	text-align: center;
	padding-bottom: 8rem;
}

.about .subtext {
	padding-bottom: 3rem;
}

.about a {
	padding: 2rem;
}

.about a i {
	color: #575a78;
}

/*TESTIMONIAL SECTION*/

.testimonial {
	height: auto;
	padding-bottom: 6rem;
}

/*DESTINATIONS SECTION*/

.destinations {
	padding-top: 4rem;
}

/*START PACKING SECTION*/

.packing {
	text-align: center;
}

.packing .btnmed {
	margin-bottom: 9rem;
}

.climblow img {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
}

/*-------END CONTACT PAGE-------*/

/*-------BEGIN CONTACT PAGE-------*/

/*HERO SECTION*/

.conthero {
	height: 68rem;
	background-image: url(../assets/contacthero.png);
	background-position: bottom;
}

.conthero h1 {
	font-family: 'Oswald', sans-serif; 
	font-size: 9rem;
	letter-spacing: .5rem;
	color: #dadcdb;
	text-align: center;
	text-shadow: 0 2px 2px rgba(0,0,0,.4);
	padding-top: 12rem;
	padding-bottom: 3rem;
}

.talkcontent {
	width: 65%;
	background-color: rgba(218,220,219, .65);
	border-radius: 2rem;
	padding: 4rem 0;
	box-shadow: 0 2px 2px rgba(0,0,0,.4);
}

.talkcontent ul {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr 1fr;
	    grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2rem;
	list-style-type: none;
	text-align: center;
}


.talkcontent h4 {
	font-size: 2.25rem;
	font-weight: 500;
	margin: 1rem 0 1rem 0 ;
	color: #4b8d9a;
}

.talkcontent a {
	font-size: 1.7rem;
	font-weight: 400;
	margin: 1rem 0 1rem 0 ;
	color: #4b8d9a;
	display: block;
	letter-spacing: .15rem;
	text-transform: uppercase;
}

/*AGENTS SECTION*/

.agents {
	height: auto;
	padding: 6rem 0 8rem 0;
}

.agents .subtext {
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.agentlist  {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr 1fr 1fr;
	    grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 4rem;
	width: 95%;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 1.5rem;
} 

.agentlist li {
	background-color: #dadcdb;
	height: auto;
	padding: 3rem;
	list-style-type: none;
	border-radius: 2rem;
	box-shadow: 0px 3px 2px 0px rgba(0,0,0,.25);
	margin-top: 4rem;
}

.agentlist img {
	border: 4px solid #4b8d9a;
	border-radius: 50%;
	margin-top: -7rem;
}

.agentlist h3 {
	font-size: 3rem;
	font-weight: 400;
	margin: 1rem 0 0 0 ;
	color: #93a6b1;
}

.agentlist a {
	display: block;
	font-size: 1.7rem;
	text-decoration: none;
}

.agentlist p {
	padding-top: 1rem;
	font-size: 1.5rem;
	line-height: 2.5rem;
}

/*FAQ SECTION*/

.faqs {
	height: auto;
	background-color: #dadcdb;
	background-image: url(../assets/range1.png);
	background-size: cover;
	background-position: center left;
	background-blend-mode: overlay;
	background-attachment: fixed;
	padding: 4rem 0 10rem ;
}

.faqs h2 {
	color: #575a78;
	text-shadow: none;
}

.faqs p {
	color: #575a78;
}

.faqs ul {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr 1fr;
	    grid-template-columns: 1fr 1fr 1fr;
	list-style-type: none;
	grid-column-gap: 3rem;
	grid-row-gap: 3rem; 
	width: 85%;
	margin: 0 auto;

}

.faqs ul li {
	background-color: #4b8d9a;
	padding: 3rem;
	border-radius: 2rem;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,.5);
}

.faqs ul li h4 {
	font-size: 2rem;
	text-transform: uppercase;
	color: #dadcdb;
	padding-bottom: 1rem;
}

.faqs ul li p {
	font-size: 1.5rem;
	color: #dadcdb;
	line-height: 2rem;
}

/*DESTINATION TIP SECTION*/

.destinationtips {
	padding: 6rem 0 9rem 0;
	text-align: center;
}

.destinationtips .subtext {
	text-shadow: 0 2px 2px rgba(0,0,0,.6);
}




/*FOOTER*/

/*-------END CONTACT PAGE-------*/